<!-- Searchbar -->
<section class="search-bar">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <form>
          <div class="p-1 bg-light shadow-sm">
            <div class="input-group">
              <input type="search" placeholder="Inserisci il tuo indirizzo di consegna" class="form-control border-0 bg-light">
              <div class="input-group-append d-grid col-1">
                <button type="submit" class="btn btn-link" style="background-color: #b83d0f; color: #fff;"><i
                    class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
