<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#" [routerLink]="['/']" routerLinkActive="router-link-active"><img
        src="../assets/img/logo-bianco.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="offcanvas-header mt-3">
        <h5 class="text-white py-2">Menu</h5>
      </div>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li *ngIf="sharedService.isLogged" class="nav-item">
          <a class="nav-link" id="carrello" [routerLink]="['/carrello']"><i class="fas fa-shopping-basket"></i> Carrello</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/ristoranti']" routerLinkActive="router-link-active"><i
              class="fas fa-utensils"></i> Ristoranti</a>
        </li>
        <li *ngIf="!sharedService.isLogged" class="nav-item">
          <a class="nav-link" id="login" (click)=openModal(login)><i class="fas fa-sign-in-alt"></i> Login</a>
        </li>
        <li *ngIf="!sharedService.isLogged" class="nav-item">
          <a class="nav-link" id="registrazione" (click)=openModalRegistrazione(registrazione)><i class="fas fa-user-plus"></i>
            Registrazione</a>
        </li>
        <li *ngIf="sharedService.isLogged" class="nav-item">
          <a class="nav-link" id="areariservata" href="#" [routerLink]="['/area-riservata']" routerLinkActive="router-link-active"><i class="fas fa-user"></i>
             Area riservata - Ciao, {{sharedService.userName}}</a>
        </li>
        <li *ngIf="sharedService.isLogged" class="nav-item">
          <a class="nav-link" id="logout" (click)=logout()>
            Logout <i class="fas fa-sign-out-alt"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Modal Login -->
<ng-template #login>
  <div class="modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Login</h5>
        <button (click)=closeModal() type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="LoginUsername" class="form-label">Username</label>
          <input [(ngModel)]="loginUsername" type="email" class="form-control" id="LoginUsername" placeholder="Inserisci tuo username">
        </div>
        <div class="mb-3">
          <label for="LoginPassword" class="form-label">Password</label>
          <input [(ngModel)]="loginPassword" type="password" class="form-control" id="LoginPassword" rows="3">
        </div>
        <div class="mb-3">
          <i class="fas fa-key"></i>&nbsp;<a href="">Ricorda password</a>
        </div>
        <div *ngIf="errorUserMessage" class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>
      </div>
      <div class="modal-footer">
        <button (click)=closeModal() type="button" class="btn btn-secondary shadow-p3" data-bs-dismiss="modal" style="border: none;">Chiudi</button>
        <button [disabled]="testLogin()" (click)="postLoginUser()" type="button" class="btn btn-primary" style="background-color: #b83d0f; color: #fff; border: none;">Login</button>
      </div>
    </div>
</div>
</ng-template>

<!-- Modal Registrazione -->
<ng-template #registrazione>
  <div class="modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Registrazione</h5>
        <button (click)=closeModal() type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="nominativo" class="form-label">Nominativo</label>
          <input [(ngModel)]="regNominativo" type="text" class="form-control" id="regNominativo" placeholder="Inserisci il tuo nome">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input [(ngModel)]="regEmail" type="email" class="form-control" id="regEmail" placeholder="name@example.com">
        </div>
        <div *ngIf="!testEmail()" class="mb-3">
          <div class="alert alert-danger" role="alert">
            Hai inserito una email non valida
        </div>
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input [(ngModel)]="regUsername" type="text" class="form-control" id="regUsername" placeholder="Inserisci l'username che vuoi utilizzare">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input [(ngModel)]="regPassword" data-bs-toggle="tooltip" data-bs-placement="top" title="Min 8 caratteri, almeno una lettera maiuscola, una minuscola, un numero e un carattere speciale" type="password" class="form-control" id="regPassword" rows="3">
        </div>
        <!-- FARE CHECK -->
        <!--<div *ngIf="!testPassword(regPassword)" class="mb-3">
          <div class="alert alert-warning" role="alert">
            Hai inserito una password non valida
        </div>
        </div>-->
        <div class="mb-3">
          <label for="ripeti-password" class="form-label">Ripeti Password</label>
          <input [disabled]="!regPassword" [(ngModel)]="regConfirmPassword" type="password" class="form-control" id="regConfirmPassword" rows="3">
          <span *ngIf="regConfirmPassword != regPassword"><p style="color: crimson;">Devi riscrivere la password correttamente</p></span>
        </div>
        <div class="form-check">
          <input class="form-check-input" [(ngModel)]="privacyCheck" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Ho preso visione della <a href="#">Informativa sulla privacy</a>
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)=closeModal() type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="border: none;">Chiudi</button>
        <button [disabled]="testRegistrati()" (click)="postRegistrazioneUser()" type="button" class="btn btn-primary" style="background-color: #b83d0f; color: #fff; border: none;">Registrati</button>
      </div>
    </div>
  </div>
</ng-template>


<!-- Serachbar -->

<app-searchbar></app-searchbar>


<!-- Carousel -->

<div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="../assets/img/carousel01.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../assets/img/carousel02.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../assets/img/carousel03.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!-- router-outlet -->

<router-outlet></router-outlet>
<ngx-ui-loader></ngx-ui-loader>

<!-- Footer -->

<div class="footer-end">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3><a href="#" [routerLink]="['/']" routerLinkActive="router-link-active">Home</a></h3>
                        <ul>
                            <li *ngIf="!sharedService.isLogged"><a href="#" (click)=openModalRegistrazione(registrazione)>Registrati</a></li>
                            <li *ngIf="sharedService.isLogged"><a href="#" (click)=logout()>Logout</a></li>
                            <li><a href="#" [routerLink]="['/ristoranti']" routerLinkActive="router-link-active">Ristoranti</a></li>
                            <li><a href="#">Chi siamo</a></li>
                            <li><a href="#">Lavora con noi</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Pagamenti</h3>
                        <ul>
                            <li><a href="#"><i class="fab fa-cc-visa fa-3x"></i></a>&nbsp;<a href="#"><i class="fab fa-cc-mastercard fa-3x"></i></a>&nbsp;<a href="#"><i class="fab fa-cc-amex fa-3x"></i></a></li>
                            <li><a href="#"><i class="fab fa-cc-paypal fa-3x"></i></a>&nbsp;<a href="#"><i class="fab fa-cc-apple-pay fa-3x"></i></a>&nbsp;<a href="#"><i class="fab fa-cc-amazon-pay fa-3x"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Labforfood Delivery</h3>
                        <p>Scarica l'app di Labforfood Delivery e ordina dove vuoi, qualunque cosa desideri.</p>
                        <p>&nbsp;</p>
                        <p class="download-app"><a href="#"><img src="../assets/img/android.png"></a>&nbsp;<a href="#"><img src="../assets/img/apple.png"></a></p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon fab fa-facebook-f"></i></a><a href="#"><i class="icon fab fa-twitter"></i></a><a href="#"><i class="icon fab fa-instagram"></i></a><a href="#"><i class="icon fab fa-youtube"></i></a></div>
                </div>
                <p class="logo"><img src="../assets/img/logo-bianco.png"></p>
                <p class="copyright">Labforfood Delivery © 2021 by Federico Caruso</p>
            </div>
        </footer>
    </div>