/* You can add global styles to this file, and also import other style files */ 

.navbar{
    position: absolute;
    background: transparent!important;
    width: 100%;
    z-index: 10;
}

.nav-link{
    color: white!important;
    margin-left: 5px;
}

.nav-link:hover{
    color: rgba(216,216,216)!important;
}

.offcanvas-header{
  display: none;
}

#login{
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 0.2rem 1rem!important;
    line-height: 30px;
}

#login:hover{
    background-color: #b83d0f!important;
    border: 2px solid #b83d0f;
    color: #fff!important;
    cursor: pointer;
}

#registrazione{
    border: 2px solid #b83d0f;
    background-color: #b83d0f;
    border-radius: 20px;
    padding: 0.2rem 1rem!important;
    line-height: 30px;
}

#registrazione:hover{
    background-color: #fff!important;
    border: 2px solid #fff;
    color: #b83d0f!important;
    cursor: pointer;
}

#areariservata{
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 0.2rem 1rem!important;
  line-height: 30px;
}

#areariservata:hover{
  background-color: #b83d0f!important;
  border: 2px solid #b83d0f;
  color: #fff!important;
  cursor: pointer;
}

#logout{
  border: 2px solid #b83d0f;
  background-color: #b83d0f;
  border-radius: 20px;
  padding: 0.2rem 1rem!important;
  line-height: 30px;
}

#logout:hover{
  background-color: #fff!important;
  border: 2px solid #fff;
  color: #b83d0f!important;
  cursor: pointer;
}



#app-promote .card{
  background-color: #b83d0f;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.search-bar{
    position: absolute;
    z-index: 5;
    top: 150px;
    width: 100%;
}

.input-group>.form-control:focus{
    box-shadow: none;
}

.input-group>.form-control{
    margin-right: 5px;
}

.carousel{
    z-index: 0;
}

#app-promote{
    margin-top: 2em;
}

//footer
.footer-end {
    margin-top: 2em;
    padding:50px 0;
    color:#f0f9ff;
    background-color:#b83d0f;
  }
  
  .footer-end h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }

  .footer-end h3 a {
    text-decoration: none;
    color: #f0f9ff;
  }

  .footer-end h3 a:hover{
    opacity:0.8;
  }
  
  .footer-end ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-end ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-end ul a:hover {
    opacity:0.8;
  }

  .fa-facebook-f{
    transition: 1s;
  }

  .fa-facebook-f:hover{
    transform: rotate(360deg);
  }

  .fa-twitter{
    transition: 1s;
  }

  .fa-twitter:hover{
    transform: rotate(360deg);
  }

  .fa-instagram{
    transition: 1s;
  }

  .fa-instagram:hover{
    transform: rotate(360deg);
  }

  .fa-youtube{
    transition: 1s;
  }

  .fa-youtube:hover{
    transform: rotate(360deg);
  }

  // ristoranti

  .ristoranti{
    margin-top: 2%;
    padding: 10px;
    box-shadow: 10px 10px 20px #dedede;
  }

  .menu{
    margin-top: 5%;
    padding: 10px;
    box-shadow: 10px 10px 20px #dedede;
  }

  // media query

  @media only screen and (min-width: 320px) and (max-width: 480px){
    .carousel-control-prev, .carousel-control-next{
      display:none;
    }

    #registrazione{
      width: 100%;
    }

    #logout{
      width: 100%;
    }

    #login{
      width: 100%;
    }

    #areariservata{
      width: 100%;
    }

  }

  @media only screen and (max-width: 767px){
    form{
      display: block;
      width: 70%;
      margin: 0 auto;
    }

    form input{
      font-size: 14px!important;
    }

    #app-promote{
      display: block;
      margin-top: 80px;
    }

    #ristoranti{
      margin-top:70px;
    }

  }

  @media only screen and (max-width: 991px){
    .carousel-inner{
      height: auto!important;
    }

    form{
      display: block;
      width: 80%;
      margin: 0 auto;
    }

    .offcanvas-header{
      display: block;
    }

    .navbar-collapse{
      position:fixed;
      top: 0;
      bottom: 0;
      left: 100%;
      width: 100%;
      padding-right: 1rem;
      padding-left: 1rem;
      overflow-y: 0;
      visibility: hidden;
      background-color: #b83d0f;
      transition: visibility .4s ease-in-out ;
    }

    .navbar-collapse.show{
      visibility: visible;
      transform: translateX(-100%);
      width: 50%;
      z-index:-1;
    }

    .navbar-light .navbar-nav .nav-link{
      text-align: center;
      margin-bottom: 10px;
    }

    #registrazione{
      width:60%;
      margin: 5px auto;
      border: 2px solid #fff;
      background-color: #fff;
      color: #b83d0f!important;
    }

    #logout{
      width:60%;
      margin: 5px auto;
      border: 2px solid #fff;
      background-color: #fff;
      color: #b83d0f!important;
    }

    #login{
      width:60%;
      margin: 0 auto;
    }

    #areariservata{
      width:60%;
      margin: 0 auto;
    }
  
  #login:hover{
      background-color: #fff!important;
      border: 2px solid #fff;
      color: #b83d0f!important;
      cursor: pointer;
  }

  #areariservata:hover{
    background-color: #fff!important;
    border: 2px solid #fff;
    color: #b83d0f!important;
    cursor: pointer;
}
 
  #registrazione:hover{
    background-color: #b83d0f!important;
    border: 2px solid #fff;
    color: #fff!important;
    cursor: pointer;
  }

  #logout:hover{
    background-color: #b83d0f!important;
    border: 2px solid #fff;
    color: #fff!important;
    cursor: pointer;
  }

  }
  
 

  

  @media only screen and (min-width: 1200px){
    
  }


  // MEDIA QUERY
  
  @media (max-width:767px) {
    .footer-end .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-end .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-end .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-end .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-end .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-end .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-end .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-end .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-end .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }

  .footer-end .logo {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    margin-bottom:0;
  }

  .footer-end .download-app a:hover{
    opacity: none!important;
  }
