<div class="container" id="dettagliomenu">
  <div class="row align-items-center dettagliomenu">
    <div class="col-sm" style="font-size: small;"><button (click)="openModalIndietro(backristorante)" class="btn"
        style="background-color: #b83d0f; color: #fff;">Back</button></div>
    <div class="col-sm" style="font-size: small;"></div>
    <div class="col-sm" style="font-size: small;">Ordine minimo: € {{sharedService.ordineMinimo}} - Mancano: € {{ordMinOkText}}</div>
    <div class="col-sm" style="font-size: small;"><button [disabled]="checkOrdMinimo()" [routerLink]="['/carrello']" class="btn"
      style="background-color: #b83d0f; color: #fff;" matBadge="{{badgeCarrello}}" matBadgeOverlap="true" matBadgeColor="warn" [matBadgeHidden]="checkCarrello()">Carrello</button></div>
  </div>
</div>

<div class="container"  style="background-color: #fff;">
  <div class="row align-items-center">
    <div class="col-3"></div>
    <div class="col-6">
      <h1>Menu {{labelRistorante}}</h1>
    </div>
    <div class="col-3"></div>
  </div>
</div>

<div class="container" id="dettagliomenu">
  <div class="row align-items-center dettagliomenu primo">
    <div class="col-sm" style="font-size: small;">Menu</div>
    <div class="col-sm" style="font-size: small;">Descrizione</div>
    <div class="col-sm" style="font-size: small;">Prezzo</div>
    <div class="col-sm" style="font-size: small;"></div>
  </div>
</div>


<div class="container" id="dettagliomenu">
  <div class="row align-items-center dettagliomenu" *ngFor="let prodotti of menuList">
    <div class="col-sm">{{prodotti.Prodotto}}</div>
    <div class="col-sm" style="font-size: small;">{{prodotti.Descrizione}}</div>
    <div class="col-sm" style="font-size: small;">
      <h6><i class="fas fa-coins"></i> € {{prodotti.Prezzo}}
      </h6>
    </div>
    <div class="col-sm" style="font-size: small;" data-bs-toggle="tooltip" data-bs-placement="top" title="{{message}}">
      <button class="btn" id="addproduct" (click)="openModal(addproduct)" [disabled]="!sharedService.isLogged"
        style="background-color: #b83d0f; color: #fff;">Aggiungi</button></div>
    
        <!-- Modal Aggiungi Prodotto -->
    <ng-template #addproduct>
      <div class="modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Aggiungi {{prodotti.Prodotto}}</h5>
            <button (click)=closeModal() type="button" class="btn-close" data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-3">
                  <button
                    (click)="delQty()"
                    type="button" class="btn btn-primary"
                    style="background-color: #b83d0f; color: #fff; border: none; width: 100%; font-size: 2em; font-weight: bold;">-</button>
                </div>

                <div class="col-6">
                  <input [(ngModel)]="quantita" class="form-control" id="quantita"
                    style="border: none; font-size: 3em; text-align: center;" name="quantita" readonly>
                </div>

                <div class="col-3">
                  <button
                    (click)="addQty()"
                    type="button" class="btn btn-primary"
                    style="background-color: #b83d0f; color: #fff; border: none; width: 100%; font-size: 2em; font-weight: bold;">+</button>
                </div>

              </div>
            </div>

          </div>
          <div class="modal-footer">
            <div class="container">
              <div class="row align-items-center">
                <button
                  (click)="addProdotto(prodotti.Prodotto, prodotti.Prezzo, prodotti.IdRistorante, prodotti.Ristorante, prodotti.IdProdotto)" [disabled]="isEmptyQuantity()"
                  type="button" class="btn btn-primary" style="background-color: #b83d0f; color: #fff; border: none;">Aggiungi al
                  carrello</button>
                    <span *ngIf="addProductMessage" class="alert alert-success" role="alert" style="margin-top: 5px;">
                    Prodotto aggiunto
                  </span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<!-- Modal Indietro Ristorante -->
<ng-template #backristorante>
  <div class="modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Annulla Ordine</h5>
              <button (click)=closeModal() type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="mb-3">
                  <div class="alert alert-danger" role="alert">
                      Attenzione! Tornando indietro perderai tutti i prodotti aggiunti nel carrello
                  </div>
              </div>
              <div class="mb-3">
                  <h4>Vuoi continuare?</h4>
              </div>
          </div>
          <div class="modal-footer">
              <div class="container">
                  <div class="row align-items-center">
                      <div class="col-6">
                          <button (click)=closeModal() type="button" class="btn btn-secondary shadow-p3"
                              data-bs-dismiss="modal" style="border: none; width: 100%;">No</button>
                      </div>
                      <div class="col-6">
                          <button (click)="indietroRistoranti()" type="button" class="btn btn-primary"
                              style="background-color: #b83d0f; color: #fff; border: none; width: 100%;">Si</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</ng-template>