<!-- APP promote -->
<div class="container" id="app-promote">
    <div class="row">
      <div class="col-5 col-md-5">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title"><img src="../assets/img/pizza-cover.jpg" class="d-block w-100" alt="..."></h5>
            <p class="card-text">Se ti prende fame puoi scaricare l'applicazione per i dispositivi Android ed iniziare ad
              ordinare dai tuoi ristoranti preferiti.</p>
            <a href="#"><img src="/../assets/img/play-store.png" width="50%"></a>
          </div>
        </div>
      </div>
      <div class="col-2 col-md-2"></div>
      <div class="col-5 col-md-5">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title"><img src="../assets/img/sushi-cover.jpg" class="d-block w-100" alt="..."></h5>
            <p class="card-text">Se ti prende fame puoi scaricare l'applicazione per i dispositivi iOS ed iniziare ad
              ordinare dai tuoi ristoranti preferiti.</p>
              <a href="#"><img src="/../assets/img/app-store.png" width="50%"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
