<!-- APP promote -->
<div class="container" id="app-promote">
    <div class="row">
      <div class="col-5 col-md-5">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title"><img src="../assets/img/play-store.png" class="d-block w-100" alt="..."></h5>
            <p class="card-text">Se ti prende fame puoi scaricare l'applicazione per i dispositivi Android ed iniziare ad
              ordinare dai tuoi ristoranti preferiti.</p>
            <a href="#" class="btn" style="background-color: #b83d0f; color: #fff;">Download</a>
          </div>
        </div>
      </div>
      <div class="col-1 col-md-1"></div>
      <div class="col-5 col-md-5">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title"><img src="../assets/img/app-store.png" class="d-block w-100" alt="..."></h5>
            <p class="card-text">Se ti prende fame puoi scaricare l'applicazione per i dispositivi iOS ed iniziare ad
              ordinare dai tuoi ristoranti preferiti.</p>
            <a href="#" class="btn" style="background-color: #b83d0f; color: #fff;">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>
